.weatherCanvas {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
}

.app {
    pointer-events: auto;
}

.scrollbarOnLeft .mantine-ScrollArea-scrollbar {
    inset-inline-start: unset !important;
    right: unset !important;
}

@keyframes execution {
    0% {
        top: "100%",
    }

    100% {
        top: "-300%",
    }
}
