body {
    background-image: url("/assets/img/detail/sky.png");
    image-rendering: pixelated;
    background-repeat: repeat;
    background-color: #050505;
        /* radial-gradient(circle at 0% 0%, #571562, transparent 50%),
        radial-gradient(circle at 60% 60%, #2f1f68, transparent 40%),
        radial-gradient(circle at 90% 20%, #162268, transparent 30%),
        radial-gradient(circle at 25% 110%, #26186a, transparent 30%),
        radial-gradient(circle at 50% -20%, #7d1f4b, transparent 30%); */
}

.mist {
    image-rendering: pixelated;
}

body {
    overflow: hidden;
}

@font-face {
    font-family: "Lexend-VariableFont";
    src:
        local("Lexend-VariableFont"),
        url("/assets/fonts/Lexend-VariableFont_wght.ttf");
}

.mantine-Tooltip-root {
    overflow: clip;
}

.hoverable:hover {
    background-color: #25262b88;
}

.mantine-Accordion-content {
    padding: 0px;
}

.mantine-Paper-root {
    background-color: #1A1B1E88;
    backdrop-filter: blur(1px);
}

.pageForeground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    pointer-events: none;
}

.pageBackground {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
    left: 0;
    top: 0;
    pointer-events: none;
}

.app {
    pointer-events: auto;
}

.scrollbarOnLeft .mantine-ScrollArea-scrollbar {
    inset-inline-start: unset !important;
    right: unset !important;
}

.scrollbarOnLeft .mantine-ScrollArea-viewport {
    padding-right: unset;
    padding-left: var(--scrollarea-scrollbar-size);
}

.listAlignEnd.mantine-List-root {
    padding-left: 0;
    padding-right: var(--_list-pl,0);
}

.listAlignEnd .mantine-List-itemWrapper {
    flex-direction: row-reverse;
}

.listAlignEnd .mantine-List-itemIcon {
    margin-left: var(--_item-icon-mr,var(--mantine-spacing-sm));
    margin-right: var(--_item-icon-ml,0);
}

.rainbowText {
    background-image: repeating-linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    text-align: center;
    background-size: 800% 800%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow 5s ease infinite;
}

.transText {
    background-image: repeating-linear-gradient(to right, #26c6da, #f48fb1, #eeeeee, #f48fb1, #26c6da);
    text-align: center;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 25%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes execution {
    0% {
        top: "100%",
    }

    100% {
        top: "-300%",
    }
}
